<h1> <%= @food.name %> (<%= Restaurant.find(@food.restaurant_id).name %>) </h1>

<% review,media = info(@food.id) %>
<%= link_to "Avaliar",{controller: 'reviews',action: 'create', food_id: @food.id},
        class:'button1'%>
<h1>
  <div class="rating1">
    <% starRating(media) do |htmlstr| %>
      <%= htmlstr.html_safe %>
    <% end %>
</div>
</h1>
<br>
<br>

  <% for i in 0..review.length-1 %>
    <% if review[i].comment != "" %>
      <div class="comment">
        <%= User.find(review[i].user_id).name %>
        <br>
          <% starRating(review[i].rating) do |htmlstr| %>
            <%= htmlstr.html_safe %>
          <% end %>
          <%= review[i].created_at.strftime("%d/%m/%Y") %>
          <br>
        <%= review[i].comment %>
      </div>
      <br>
    <% end %>

  <% end %>
<%= link_to "Voltar", root_url %>
