<h1> <%= @food.name %> </h1>

<% review,media = info(@food.id) %>
<h1>
  <div class="rating1">
    <% starRating(media) do |htmlstr| %>
      <%= htmlstr.html_safe %>
    <% end %>
</div>
</h1>
<br>
<br>
<table>
  <tr>
    <th>Usuário</th>
    <th>Comentário</th>
    <th>Nota</th>
  </tr>
  <% for i in 0..review.length-1 %>
    <% if review[i].comment != "" %>
      <tr>
        <td><%= User.find(review[i].user_id).name %></td>
        <td><%= review[i].comment %></td>
        <td>
          <% rate = (review[i].rating/2).to_i %>
          <% for i in 0...rate %>
              <span class="fa fa-star checked"></span>
          <% end %>

          <% for i in 0...5-rate %>
              <span class="fa fa-star"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= link_to "Voltar", root_url %>
