<%= form_for(@review) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if !@review.rating.nil? %>
  <%= @review.rating %>
  review não é nil
    <%end%>
  <div class="field">
    <%= form.label :comentario, "Comentário:" %>
    <br>
    <%= form.text_area :comment, id: :review_comment, placeholder: "Deixe seu comentário!" %>
  </div>

  <!--  Passando o id do usuario corrente para o user_id reviews !-->
  <%= form.hidden_field :user_id, id: :review_user ,value: current_user.id %>
  <%= form.hidden_field :food_id, id: :review_food ,value: @food.id %>
  <br>
  <span>Avaliação</span>
  <div class ="rating">

    <%for i in 10.downto(1) %>
      <% if i % 2 == 0%>
          <%if @review.rating.to_i == i%>
            <%= radio_button_tag :rating, "#{i}", true ,id: "star#{i/2}", name: "review[rating]" %>
          <%else%>
            <%= radio_button_tag :rating, "#{i}", false ,id: "star#{i/2}", name: "review[rating]" %>
          <%end%>
          <%= label_tag "star#{i/2}", "", class: "full", for: "star#{i/2}" %>
      <% else %>
          <%if @review.rating.to_i == i%>
            <%= radio_button_tag :rating, "#{i}", true ,id: "star#{(i/2).to_i}half", name: "review[rating]" %>
          <%else%>
            <%= radio_button_tag :rating, "#{i}", false ,id: "star#{(i/2).to_i}half", name: "review[rating]" %>
          <%end%>
          <%= label_tag "star#{(i/2).to_i}half", "", class: "half", for: "star#{(i/2).to_i}half" %>
      <%end%>
    <%end%>
</div>

  <br>
  <div class="action">
    <%= form.submit 'Enviar', class: 'submitbtn'%>
  </div>
  <% end %>
