<h1> Reviews feitas por você: </h1>
<table>

  <tr>
    <th> Comida </th>
    <th> Restaurante </th>
    <th> Nota </th>
    <th> Comentário </th>
    <th> Ações      </th>
  </tr>

  <% @reviews.where(user_id: current_user.id).each do |r|%>
    <tr>
      <% f = Food.find(r.food_id) %>
      <td><%=f.name%></td>
      <% x = Restaurant.find(f.restaurant_id) %>
      <td><%=x.name%></td>
<td class="rating">
	  <% toStars r.rating do |star,number,ismarked|%>
      	<%= radio_button_tag "rating#{r.id}", "3", ismarked ,id: number  %>
    	<%= label_tag number, "", class: star, for: number %>
	  <% end %>
</td>
      <td><%=r.comment%></td>
      <td><%= link_to "Editar",{controller: 'reviews',action: 'edit', id: r.id},
              class:'button1'%>
          <%= link_to "Remover",r,method: :delete, data: {confirm: "Are you sure?"},id:r.id,
              class:'button2'%>
      </td>
    </tr>
  <% end %>
</table>

<a href=main>Voltar</a>
