<!DOCTYPE html5>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RUFinder</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if !flash.empty? %>
		<% flash.each do |type,message| %>
      <div class="notice"><%= message %></div>
		<% end %>
    <% end %>
    <ul>
      <% if current_user %>
      <li>
        <%= link_to "Sair", signout_path, id: "sign_out" %>
      </li>
      <li>
        <%= link_to "Avaliações", reviews_url, id: "reviews" %>
      </li>
      <li>
        <%= link_to "Amigos", friends_url, id: "friends" %>
      </li>
      <li>
        <%= link_to "Restaurantes", restaurants_url, id: "restaurants" %>
      </li>
      <li>
        <%= link_to "Comidas", foods_url, id: "foods" %>
      </li>
      <li>
          <%= link_to "Cardápio", root_url, id: "main"%>
      </li>
      <% end %>
    </ul>
    <div>
    <%= yield %>
    </div>
	<%= debug(params) if Rails.env.development? %>
  </body>
</html>
