<h1>Restaurante: <%= @restaurant.name %> </h1>

<% review,media,distrib = infoRest(@restaurant.id) %>
<% total = distrib.inject(0, :+) %>
<%= link_to "Avaliar",{controller: 'restaurant_reviews',action: 'create', restaurant_id: @restaurant.id},
        class:'button1'%>
<h1>
  <div class="rating1">
    <% starRating(media) do |htmlstr| %>
      <%= htmlstr.html_safe %>
    <% end %>
</div>
</h1>
<br>
Baseado em <%= total %> avaliações.<br>
<br>
<table class="stats">
  <% for i in 5.downto(1) %>
  <tr>
      <td><% starRating(i*2) do |htmlstr| %><%= htmlstr.html_safe %><% end %></td>
      <td><div class="bar-<%=i%>"  style="width:<%=100*distrib[i].to_f/total %> ;"></div></td>
      <td><%=distrib[i]%></td>
  </tr>
  <% end %>
</table>
<br>
<br>
  <% for i in 0..review.length-1 %>
    <% if review[i].comment != "" %>
      <div class="comment">
        <%= User.find(review[i].user_id).name %>
        <br>
          <% starRating(review[i].rating) do |htmlstr| %>
            <%= htmlstr.html_safe %>
          <% end %>
          <%= review[i].created_at.strftime("%d/%m/%Y") %>
          <br>
        <%= review[i].comment %>
      </div>
      <br>
    <% end %>

  <% end %>
<%= link_to "Voltar", root_path, class: 'backbtn' %>
