<% require 'date' %>
<% date = Date.today %>

<br><h1> Almoço: </h1></br>

<table>

  <tr>
    <th> Central </th>
    <th> Física </th>
    <th> Química </th>
    <th> Prefeitura (PCO) </th>
  </tr>

  <% bandeja = Array.new()  %>
  <% nota = Array.new()     %>
  <% 0.upto(3) do |i|       %>
    <% bandeja[i] = Array.new() %>
    <% nota[i] = 0 %>
  <% end %>

  <% @records.where(meal: "Almoço").where(date: date).find_each do |r|  %>
    <%  food = Food.find(r.food_id)                                     %>
    <%  bandeja[food.restaurant_id-1].push(food.name)                     %>
    <%  review = Review.where(food_id: food.id).first                   %>
    <%  nota[food.restaurant_id-1] = nota[food.restaurant_id-1] + review.rating if !review.nil?%>
    <% end %>
    <tr>
      <% if bandeja[0].size > 1 && nota.max ==  nota[0] %> <td class="best">
      <% else %>                                           <td class="std"><%end%>
      <% bandeja[0].each do |f| %><%= f %><br><% end %></td>

      <% if bandeja[1].size > 1 && nota.max ==  nota[1] %> <td class="best">
      <% else %>                                           <td class="std"><%end%>
      <% bandeja[1].each do |f| %><%= f %><br><% end %></td>

      <% if bandeja[2].size > 1 && nota.max ==  nota[2] %> <td class="best">
      <% else %>                                           <td class="std"><%end%>
      <% bandeja[2].each do |f| %><%= f %><br><% end %></td>

      <% if bandeja[3].size > 1 && nota.max ==  nota[3] %> <td class="best">
      <% else %>                                           <td class="std"><%end%>
      <% bandeja[3].each do |f| %><%= f %><br><% end %></td>
    </tr>


</table>

<br><h1> Janta: </h1></br>

<table>

  <tr>
    <th> Central </th>
    <th> Física </th>
    <th> Química </th>
    <th> Prefeitura (PCO) </th>
  </tr>

  <% bandeja = Array.new()  %>
  <% nota = Array.new()     %>
  <% 0.upto(3) do |i|       %>
    <% bandeja[i] = Array.new() %>
    <% nota[i] = 0 %>
  <% end %>

  <% @records.where(meal: "Janta").where(date: date).find_each do |r|  %>
    <%  food = Food.find(r.food_id)                                     %>
    <%  bandeja[food.restaurant_id-1].push(food.name)                     %>
    <%  review = Review.where(food_id: food.id).first                   %>
    <%  nota[food.restaurant_id-1] = nota[food.restaurant_id-1] + review.rating if !review.nil?%>
    <% end %>
    <tr>
      <% if bandeja[0].size > 1 && nota.max ==  nota[0] %> <td class="best">
      <% else %>                                           <td class="std"><%end%>
      <% bandeja[0].each do |f| %><%= f %><br><% end %></td>

      <% if bandeja[1].size > 1 && nota.max ==  nota[1] %> <td class="best">
      <% else %>                                           <td class="std"><%end%>
      <% bandeja[1].each do |f| %><%= f %><br><% end %></td>

      <% if bandeja[2].size > 1 && nota.max ==  nota[2] %> <td class="best">
      <% else %>                                           <td class="std"><%end%>
      <% bandeja[2].each do |f| %><%= f %><br><% end %></td>

      <% if bandeja[3].size > 1 && nota.max ==  nota[3] %> <td class="best">
      <% else %>                                           <td class="std"><%end%>
      <% bandeja[3].each do |f| %><%= f %><br><% end %></td>
    </tr>

</table>
<br><br><br>