<% if !@friends.where(status: false).where(receiver_id: current_user.id).blank? %>
  <p><%= link_to "Você tem pedidos de amizade pendentes", controller: 'friends', action: 'index'%></p>
<% end %>

<% dia, semana = getDia(params[:dia]) %>

<ul class="semana">
  <li><% if semana == 1 %> <b> Seg </b> <% else %> <%= link_to "Seg", "/main?dia=Seg" %> <%end%> </li>
  <li><% if semana == 2 %> <b> Ter </b> <% else %> <%= link_to "Ter", "/main?dia=Ter" %> <%end%> </li>
  <li><% if semana == 3 %> <b> Qua </b> <% else %> <%= link_to "Qua", "/main?dia=Qua" %> <%end%> </li>
  <li><% if semana == 4 %> <b> Qui </b> <% else %> <%= link_to "Qui", "/main?dia=Qui" %> <%end%> </li>
  <li><% if semana == 5 %> <b> Sex </b> <% else %> <%= link_to "Sex", "/main?dia=Sex" %> <%end%> </li>
  <li><% if semana == 6 %> <b> Sab </b> <% else %> <%= link_to "Sab", "/main?dia=Sab" %> <%end%> </li>
  <li><% if semana == 0 %> <b> Dom </b> <% else %> <%= link_to "Dom", "/main?dia=Dom" %> <%end%> </li>
</ul>

<p class="semana"> <%= link_to "Comer com amigos", controller: 'friends', action: 'eat' %> </p>

<% ["Almoço","Jantar"].each do |tipo| %>

  <% bandeja, nota = getFood(tipo,dia, current_user.id) %>
  <% max = nota.max %>

<br><h1><%= tipo %></h1><br>

<table>

  <tr>
    <th class="subtitle"> Central </th>
    <th class="subtitle"> Física </th>
  </tr>


  <tr>

    <% 0.upto(1) do |n| %>

      <% if bandeja[n].size > 1 && max ==  nota[n] %>      <td class="best">
      <% else %>                                           <td class="std">
        <% end %>

      <% if bandeja[n].size > 1 %> <% bandeja[n].each do |f| %>
        <%= link_to f.name, controller: 'foods', action: 'show', id: f.id %>
        <br>
     <% end %>
      <% else %> Fechado <br>
        <% end %>

      </td>
    <% end %>

  </tr>


  <tr>
    <th class="subtitle"> Química </th>
    <th class="subtitle"> Prefeitura (PCO) </th>
  </tr>

  <tr>

    <% 2.upto(3) do |n| %>

      <% if bandeja[n].size > 1 && max ==  nota[n] %>      <td class="best">
      <% else %>                                           <td class="std">
        <% end %>

      <% if bandeja[n].size > 1 %> <% bandeja[n].each do |f| %>
       <%= link_to f.name, controller: 'foods', action: 'show', id: f.id %>
       <br>
     <% end %>
      <% else %> Fechado <br>
        <% end %>

      </td>
    <% end %>

  </tr>

</table>
<%end%>

<br><br><br>