<h1> Com quais amigos você vai comer? </h1>

<%= form_tag controller: "friends", action: "selected", method: "post" do %>
  <table>
    <% flag = 0 %>
    <% @friends.where(receiver_id: current_user.id).where(status: true).or(@friends.where(sender_id: current_user.id).where(status: true)).find_each do |f| %>
        <% flag = 1 %>
        <% if f.sender_id == current_user.id %>
          <% @id = f.receiver_id %>
        <% else %>
          <% @id = f.sender_id %>
        <% end %>

        <tr> <td>
          <%= check_box_tag "selected_ids[]", @id %>
          <%= (User.find_by(id: @id)).name %>
        </td> </tr>
    <% end %>

  <% if flag == 1 %>
  </table>
      <%= submit_tag "Comer com amigos", class: 'button1' %>
  <% else %>
      <p> Você não tem amigos. </p>
  <% end %>
<% end %>

<p>
  <%= link_to "Voltar", root_path, class: 'backbtn' %>
</p>
